

html {
    background-color: #fafafa;
    font-size: 10px;
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

h1 {
    color: #ff0002;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}

p, li {
    color: rgb(238, 238, 238);
    font-size: 12pt;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
}

li, #modal-inner2 > li {
    /*list-style-type: circle;*/
    color: #ffffff;
    margin:10px auto;
}

#sublist > li {
    list-style-type: disc;
    font-size: 10pt;
    margin: px;
}

img {
    margin: 0px 10px;
    cursor: pointer;
    border-radius: 5px;
}

#header {
    margin: 0px;
    cursor: default;
}

#player {
    margin: 10px auto;
}

#container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}


.div-stuff, #icons {
    height: auto;
    margin:  auto;
    text-align: center;
}


#search {
    margin: 15px auto;
    width: 500px;
    height: 40px;
    font-size: 16pt;
    font-weight: 400;
    padding-left: 5px;
}



#player-placeholder {
    width: 854px;
    height: 480px;
    margin: 10px auto 20px auto;
    display: block;
    background-color: black;
}

#loop-size {
    cursor: pointer;
    vertical-align: top;
    line-height: 50px;
    font-size: 16pt;
}








#selector {

    font-size: 12pt;
    background-color: #ff0002;
    color: #fafafa;
    display: block;
    margin: 10px auto 20px;
    border: none;
    min-width: 400px;
    border-radius: 5px;
    padding: 5px;
}

#inputselector {
    min-width: 275px;

    background-color: #EFEFEF;
    color: #ff0002;
    border-radius: 5px;
    padding: 5px;
    margin: auto ;
    border: none;
}

/******************************** BUTTONS *********************************/


button {
    cursor: pointer;
}

#search-button {
    color: #ff0002;
    border-radius: 5px;
    padding: 5px;

    width: 65px;
    height: 45px;
    border: 1px solid #d3d3d3;
    background-color: #EFEFEF;
    border-radius: 0 2px 2px 0;
    font-size: 26px;

}

#close, #close2, #show {
    color: #ff0002;
    border-radius: 5px;
    border: none;
    padding: 5px;
}


/******************************** MODALS *********************************/

#modal {
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#modal-inner{
    padding: 20px;
    width: 70%;
    height: 75%;
    border-radius: 3px;
    background: rgb(28,28,28);
    margin: 5% auto;
    text-align: left;
    overflow-y: scroll;
}

#modal2 {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
    z-index: 99999;
}

#modal-inner2{
    padding: 10px;
    width: 60%;
    max-width: 450px;
    border-radius: 5px;
    background: #aaa;
    margin: 460px auto;
    text-align: center;
    background: rgb(28,28,28);

}




/******************************** FOOTER *********************************/

#footer {
    width: 300px;
    position: relative;
    bottom: 0;
    /*right: 50%;*/
    margin: 500px auto;
    display: block;
    text-align: center;
}
#logo {
    height: 40px;
    width: auto;
}


